
.container{
    max-width: 1500px;
    background-color: blanchedalmond;
    height: 200px;
    margin: 0 auto;
}
header{
    background: url("/image/hobby_store.png")100%;
    background-size: 90% 90%;
    padding-bottom: 10%;
    font-size: 25px;  
}
nav{
    height: 60px;
    background-color: orange;
    font-size: 30px;
    text-align: left;
}
article{
    
    width: 80%;
    float: left;
    background-color: palegoldenrod;
    height: 400px;
}
aside{
    width: 20%;
    float: right;
    height: 400px;
    background-color: wheat;
    font-size: 25px;
}
footer{
    background-color: orange;
    text-align: center;
}
iframe{
    width: 100%;
    min-height: 400px;
}
.search-box input{
    font: normal;
    font-size: 20px;
    height: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    background-color: bisque;
}
.vmenu{
    box-shadow: 0 0 3px gray;
    margin: 5px;
    list-style: none;
    padding: 0;
    background-color: blanchedalmond;
}
.vmenu a{
    display: block;
    border-bottom: 1px dotted white;
    font-variant: small-caps;
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 5px 5px 5px 28px;
    background: url("/image/spider_chibi.jpg") no-repeat 3px center;
    background-size: 20px;
}
.vmenu a:hover{
    background: url("/image/spider_chibi.jpg") no-repeat 5px center;
    background-size: 20px;
    color: wheat;
    background-color: black;
    border-bottom: 1px dotted white;
}
.company-infor{
    width: 320px;
    height: 50px;
    background-color: orange;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
}
.company-infor ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 40px;
}
.company-infor ul li{
    display: inline;
    width: 25%;
    margin-left: 10px;
}
.company-infor ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.hmenu>ul>li{
    display: inline-block;
    width: 15%; 
}
.hmenu li:hover>ul{
    display: block;
    position: absolute; 
    color: yellow;
}
.hmenu ul ul{
    display: none;
    background-color: orange;
    list-style: none;
    padding: 10px;
}
.hmenu a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.hmenu a:hover{
    color:yellow
}